@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300..700&family=Inter:opsz,wght@14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
label,
strong {
  font-family: "Cormorant", serif;
  font-weight: 600;
}

/* LOGIN PAGE */
.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  overflow: hidden;
}

.banner__section {
  max-height: 100vh;
}
.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
}

h2 {
  font-size: 2.1rem;
  font-weight: 800;
}

.small {
  display: block;
  font-size: 0.7rem;
  color: #9b9fa4;
  margin: 10px 0 30px 0;
}

a {
  text-decoration: none;
  color: #9b9fa4;
}

.input {
  margin-bottom: 20px;
  position: relative;
}

.input,
.input label {
  display: block;
}

.input label {
  margin-bottom: 5px;
}

.input input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #9b9fa4;
  border-radius: 7px;
}

.eye {
  top: 33px;
  position: absolute;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.checkbox__flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.submit {
  display: block;
  width: 100%;
  background-color: #000;
  border: none;
  border-radius: 7px;
  color: #fff;
  padding: 15px 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

.submit.attend {
  margin: 10px 0 0 0;
}

.register {
  text-align: center;
}

/* EVENT PAGE */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #9b9fa4;
  padding: 15px;
  margin-bottom: 50px;
}

.logo {
  width: 125px;
}

.details {
  margin-right: 15px;
}

.details,
.actions {
  display: flex;
  align-items: center;
}

.profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-right: 5px;
}

.logout {
  background-color: #000;
  border: none;
  border-radius: 100px;
  color: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  cursor: pointer;
}

.welcome {
  display: block;
  font-size: 1.5rem;
  color: #9b9fa4;
  font-weight: 200;
  margin: 0px 0 30px 15px;
  letter-spacing: 2px;
}

h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 15px;
}

h4 {
  text-transform: uppercase;
  font-weight: 600;
}

.section__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px 15px;
  margin: 0 15px;
}
.cards {
  /* border: 1px solid #9b9fa4; */
  box-shadow: 2px 2px 10px #9b9fa4;
}
.card__footer {
  padding: 15px;
}
.card__image {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.card__details,
.card__details span,
.card__details p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__details {
  margin-top: 10px;
}

.icon {
  margin-right: 5px;
}

/* POPUP */
#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#overlay.active {
  display: flex;
}

.popup {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.popup img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

#qrCode {
  width: 150px;
  height: 150px;
  margin-top: 15px;
}

#closePopup {
  position: absolute;
  top: 10px;
  right: 12px;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .form__section {
    padding: 0 50px;
  }
}
@media (max-width: 915px) {
  .login {
    grid-template-columns: 1fr;
  }
  .banner__section {
    display: none;
  }
}
@media (max-width: 475px) {
  h2 {
    font-size: 1.6rem;
  }

  .user__email {
    display: none;
  }
}
